%a{:name => "post-#{post.id}"}
<div id='post_#{post.id}' class='post #{cycle('odd', 'even')}'>
.user
  .username
    = link_to_if Forem.user_profile_links, post.user.name, [main_app, post.user]
  .icon= avatar(post.user, :size => 60)
.contents
  %a{:href => "#post-#{post.id}"}
    %time{:datetime => post.created_at.to_s(:db)}= "#{time_ago_in_words(post.created_at)} #{t("ago")}"
  = forem_format(post.text)
  - if post.reply_to
    %span.in_reply_to
      = link_to "#{t("forem.post.in_reply_to")} #{post.reply_to.user.name}", "#post-#{post.reply_to.id}"
  %ul.actions
    - if forem_user
      - if can?(:reply, @topic)
        - if @topic.can_be_replied_to?
          %li= link_to t('reply', :scope => 'forem.topic'), new_topic_post_path(@topic, :reply_to_id => post.id)
        - if @topic.can_be_replied_to?
          %li= link_to t('quote', :scope => 'forem.topic'), new_topic_post_path(@topic, :reply_to_id => post.id, :quote => true)
      - if post.owner_or_admin?(forem_user)
        - if can?(:edit_post, @topic.forum)
          %li= link_to t('edit', :scope => 'forem.post'), edit_topic_post_path(@topic, post)
        %li= link_to t('delete', :scope => 'forem.topic'), topic_post_path(@topic, post), :method => :delete, :confirm => t("are_you_sure")
