!!!
%html
  %head
    %title Admin Colegio
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body.container
    %article
      %header
        .span-3
          %h1= link_to 'Mumos', 'http://www.google.com'
      %nav.span-24
        %ul
          %li= link_to 'Eventos', admin_events_path
          %li= link_to 'Miembros', admin_members_path
          %li= link_to 'Banners', admin_banners_path

      %section#content
        #main
          = yield
    %footer 
