%nav#menu
  %ul
    %li.nivel1= link_to 'Inicio', root_path
    %li.nivel1
      = link_to 'Colegio', '#', class: 'nivel1'
      %ul
        %li= link_to 'Misión', '/colegio/mision'
        %li= link_to 'Mesa Directiva', '/colegio/mesa-directiva'
        %li= link_to 'Historia', '/colegio/historia'
        %li= link_to 'Estatutos', '#'

    %li.nivel1
      = link_to 'Eventos', events_path, class: 'nivel1'
      %ul
        %li= link_to 'Sesiones Ordinarias', '/events/category/sesiones-ordinarias'
        %li= link_to 'Educación Continua', '/events/category/educacion-continua'
        %li= link_to 'Filiales', '/events/category/filiales'
        %li= link_to 'Congreso', '/events/category/congreso'

    %li.nivel1= link_to 'Calendario', calendar_index_path
    %li.nivel1= link_to 'Directorio', members_path
    %li.nivel1= link_to 'Industria', '/industria'
    %li.nivel1= link_to 'Contacto', '#'
