%nav#menu
  %ul
    %li.nivel1= link_to 'Inicio', root_path, class: active_class('home')
    %li.nivel1
      = link_to 'Colegio', '#', class: "nivel1 #{active_class('mision mesa-directiva historia estatutos')}"
      %ul
        %li= link_to 'Misión', colege_path('mision')
        %li= link_to 'Mesa Directiva', colege_path('mesa-directiva')
        %li= link_to 'Historia', colege_path('historia')
        %li= link_to 'Estatutos', colege_path('estatutos')

    %li.nivel1
      = link_to 'Eventos', '#', class: "nivel1 #{active_class('events')}" 
      %ul
        %li= link_to 'Sesiones Ordinarias', category_events_path('sesiones-ordinarias')
        %li= link_to 'Educación Continua', category_events_path('educacion-continua')
        %li= link_to 'Filiales', category_events_path('filiales')
        %li= link_to 'Congreso', category_events_path('congreso')

    %li.nivel1= link_to 'Calendario', calendar_index_path,class: active_class('calendar')
    %li.nivel1= link_to 'Directorio', members_path, class: active_class('members')
    %li.nivel1= link_to 'Industria', industry_path, class: active_class('industria')
    %li.nivel1= link_to 'Contacto', contact_path, class: active_class('contacto')
