- if member_signed_in?
  %h3.welcome Bienvenido:
  %h3.member 
    = "#{current_member.title} #{current_member.first_name}"
    %span
      = current_member.last_name
    %span.mail
      = current_member.email
    %span.mail
      = link_to 'Sugerencias', main_app.suggestions_path

  = button_to('Salir', main_app.destroy_member_session_path, :method => :delete)
- else
  = form_tag main_app.member_session_path do
    /= label_tag 'member[email]', 'Email'
    = text_field_tag 'member[email]',nil, placeholder: 'Email'
    /= label_tag 'member[password]', 'Password:'
    = password_field_tag 'member[password]',nil, placeholder: 'Password'
    /= check_box_tag 'member[remember_me]'
    /= label_tag 'member[remember_me]', 'Remember me'
    = submit_tag 'Acceder'

