#bcomercial
  #comercial
    - unless @comercial.nil?
      - @comercial.each do |image|
        - if image.image_link.empty?
          = image_tag banner('450x300',image)
        - else
          = link_to image.image_link do
            = image_tag banner('450x300', image)
#foro
  = image_tag 'foro-ref.jpg'
#buzon
  = image_tag 'buzon-ref.jpg'

:javascript
  $('#comercial').nivoSlider({ controlNav: false });  
