= link_to 'Calendario', calendar_index_path, id: 'regresar-lista', style: 'float:right;'
#directorio
  %h1 
    = page_title 
= paginate @events

.eventos
  .nombres-eventos
    %ul
      - @events.each do |event|
        %li
          .lista-eventos
            %a{href: event_path(event)}
              %span.fecha-evento 
                = localized_date event.event_date
              %br
              %span.nombre-eventos 
                = event.title
              %br
              %span.cordinador-eventos 
                = event.coordinator
