%a#regresar-lista{href: category_events_path(@event.event_type), style: 'float: right;'}
  Ver Lista
%h1
  = @event.title
#data
  .item-data
    %p
      %span.fecha-evento
        Dirigido por: 
      %br
      = @event.coordinator
  - unless @event.program.blank?
    #program
      %h1.resaltar Programa
      #content
        = raw @event.program
      %br
  .item-data
    %span.fecha-evento
      Lugar:
    %br
    = @event.place
  .item-data
    %span.fecha-evento
      Dirección:
    %br
    = @event.google_map
    %br
  .item-data
    %span.fecha-evento
      Fecha:
    = localized_date @event.event_date
    %br
  .item-data
    %span.fecha-evento
      Horario:
    = @event.schedule
    %br

%br
= gmaps(map_options: { zoom: 16, auto_adjust: true, auto_zoom: false }, markers: { data: @json } )

:javascript
  $(document).ready(function(){
    $('#program').accordion({autoHeight: false, collapsible: true, active: false, icons: false});
  });
