%a#regresar-lista{href: category_events_path(@event.event_type), style: 'float: right;'}
  Ver Lista
#data
  .item-data
    %p
      %span.fecha-evento
        Dirigido por: 
      %br
      = @event.coordinator
      %br
  .item-data
    %span.fecha-evento
      Lugar:
    %br
    = @event.place
  .item-data
    %span.fecha-evento
      Dirección:
    %br
    = @event.google_map
    %br
  .item-data
    %span.fecha-evento
      Fecha:
    = localized_date @event.event_date
    %br
  .item-data
    %span.fecha-evento
      Horario:
    = @event.schedule
    %br
  .item-data
    %span.fecha-evento
      Descripción:
    %br
    = @event.description
%br
= gmaps(map_options: { zoom: 16, auto_adjust: true, auto_zoom: false }, markers: { data: @json } )
