%tr{:class => "topic #{cycle('odd', 'even')} #{topic.locked? ? 'locked' : 'unlocked'}"}
  %td.icon
    - if topic.locked?
      %span.lock.icon
    - if topic.pinned?
      %span.pin.icon
    - if forem_user && view = topic.view_for(forem_user)
      - if topic.posts.exists?(["created_at > ?", view.updated_at])
        %span.new_posts.icon new
  %td.byline
    .subject= link_to topic.subject, forum_topic_path(@forum, topic)
    .started-by
      = t "started_by"
      = topic.posts.by_created_at.first.user.name
  %td.latest-post
    - text = "#{time_ago_in_words(topic.posts.by_created_at.last.created_at)} #{t("ago_by")} #{topic.posts.by_created_at.last.user.name}"
    = link_to text, forum_topic_path(topic.posts.by_created_at.last.topic.forum, topic.posts.by_created_at.last.topic, :anchor => "post-#{topic.posts.by_created_at.last.id}")
  %td.posts-count= topic.posts.count
  %td.views-count= topic.views.sum(:count)
