!!!
%html
  %head
    %title Colegio
    = stylesheet_link_tag href: 'http://fonts.googleapis.com/css?family=Trykker'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body
    #container.clearfix
      %header#header
        #logo
        = render partial: 'shared/menu'
      - if current 'home'
        = render partial: 'shared/main-slider' 
      #main
        #left
          %section{class: ('content' unless current('home'))}
            = yield
        #sidebar
          %aside
            = render partial: 'shared/sidebar'
      %footer#footer
        = yield :scripts
        Colegio de Médicos Oftalmólogos de Jalisco 2012
