!!!
%html
  %head
    %title Colegio
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body
    .container
      %header#header.span-24
        #logo
        %nav#menu
          %ul
            %li= link_to 'Inicio', root_path
            %li= link_to 'Colegio', '#'
            %li= link_to 'Eventos', events_path
            %li= link_to 'Calendario', '#'
            %li= link_to 'Directorio', members_path
            %li= link_to 'Industria', '#'
            %li= link_to 'Contacto', '#'
      %section#binformativo1.span-24
        = image_tag 'banner01.png'
      #main
        %section#left
          = yield
        %aside#sidebar
          sidebar
      %footer#footer
        footer
