!!!
%html
  %head
    %title Colegio
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body
    #container.clearfix
      %header#header
        #logo
        = render partial: 'shared/menu'
      - if current 'home'
        %section#binformativo1
          = image_tag 'banner01.jpg' 
      #main
        #left
          %section{class: ('content' unless current('home'))}
            = yield
        #sidebar
          %aside
            = render partial: 'shared/sidebar'
      %footer#footer
        = yield :scripts
        footer
