!!!
%html
  %head
    %title Colegio
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body.container
    %article
      %header
      %nav
        %ul
          %li= link_to 'Eventos', events_path
          %li= link_to 'Miembros', members_path
      %section#content
        #main
          = yield
    %footer 
