!!!
%html
  %head
    %title Colegio de Médicos Oftalmólogos de Jalisco
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Trykker'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28708448-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    #container.clearfix
      %header#header
        #logo
          = link_to main_app.root_path do
            = image_tag 'logo.png'
        = render partial: 'shared/menu'
      - if current 'home'
        = render partial: 'shared/main-slider' 
      #main
        #left{class: ('home' if current 'home')}
          %section{class: ('content' unless current('home'))}
            = yield
        #sidebar{class: ('home' if current 'home')}
          %aside
            = render partial: 'shared/sidebar'
      %footer#footer
        = yield :scripts
        Colegio de Médicos Oftalmólogos de Jalisco 2012
        %h5
        Esta pagina se ve mejor con %a{:href => "https://www.google.com.mx/chrome?platform=win&hl=es-419", :target => "_blank"} Google Crome o %a{:href => "http://www.mozilla.org/es-MX/firefox/new/", :target => "_blank"} Mozilla Firefox
