= link_to 'Directorio', members_path, id: 'regresar-lista', style: 'float:right;'
#detalle
  %h1 Directorio
  .detalle-miembros
    #nombre-m
      = @member.full_name
    #correo-m
      = link_to @member.email, "mailto:#{@member.email}"
    #addresses
      - @member.addresses.each do |address|
        .direccion-m
          %strong Dirección
          %br
          = address.street
          = address.google_map unless address.google_map.blank?
          %br
          = address.full_address
          - unless address.local_phone.blank?
            %br
            = "Tel: #{number_to_phone(address.local_phone, area_code: true)}"
          - unless address.cel_phone.blank?
            %br
            = "Cel: #{number_to_phone(address.cel_phone, area_code: true)}"

.mapa-miembro
  = gmaps(map_options: {auto_adjust: true, auto_zoom: @zoom, zoom: 16 }, markers: { data: @json } )

