#detalle
  %h1 Directorio
  .detalle-miembros
    #nombre-m
      = @member.full_name
    #correo-m
      = link_to @member.email, "mailto:#{@member.email}"
    #addresses
      - @member.addresses.each do |address|
        .cel-tel
          Tel: #{address.local_phone}
        .cel-tel
          Cel: #{address.cel_phone}
        .direccion-m
          %strong Dirección
          %br
          = address.street
          %br
          = "Col. #{@member.address.colony}"

.mapa-miembro
  = gmaps(map_options: {auto_adjust: true, auto_zoom: true }, markers: { data: @json } )
  
= link_to 'Ver lista', members_path, id: 'regresar-lista'
